.navbar{
    width: 100%;
    height: 80px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}